@{
    ViewBag.Title = "Generación de archivo Excel";
}
<form action="Home/Excel" method="post">
    <h2>ES: Exportando a Excel con CLOSEDXML</h2>
    <p>Simple ejemplo de como crear un archivo excel con la libreria de ClosedXML desde un DataTable (C#)</p>
    <hr />
    <h4>EN: Export to Excel with CLOSEDXML</h4>
    <p>simple example of creating excel file with the library ClosedXML from DataTable (C#)</p>
    <hr />
    <input type="submit" name="btnGenerar" value="submit" />
    <br />
    <small>For more info visit <a href="http://closedxml.codeplex.com/documentation" target="_blank">Documentation</a></small>
</form>
